*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    transition: 0.3s;
}
.navbar{
    display:flex;
     
    justify-content: space-between;
    align-items:center;
    background-color:#5781de;
    padding: 20px 50px;
    position:relative;
}
.logo{
    font-size:35px;
    color:#fff;
    font-weight:bold;
}
.toggle-button{
    display:flex;
    flex-direction:column;
    cursor:pointer;
}
.toggle-button .bar{
    width:35px;
    height:4px;
    border-radius:5px;
    background-color:#fff;
    margin:3px 0px;
}
.nav-links{
    list-style:none;
    display:flex;
}
.nav-links li{
    margin-right: 25px;
}
.nav-links li a{
    font-size:17px;
    color:#fff;
    text-decoration: none;
    transition: 0.4s ease;
}
.nav-links li a:hover{
    color:#1f376b;
}
@media screen and (max-width: 768px){
    .navbar{
        padding: 20px 25px;
    }
    .toggle-button{
        display:flex;
    }
    .nav-links{
        display:none;
        flex-direction: column;
        position:absolute;
        width:100%;
        background-color:#5472b3;
        padding:25px;
        top:100%;
        left:0;
    }
    .nav-links li{
        padding: 12px 0px;
    }
    .nav-links .active{
        display:block;
    }
}
.info{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info .contanier{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.info .contanier .text p{
    font-size:30px;
    font-family:cursive;
    color: #dedede;
    width: 80%;
    margin: 20px 0 30px;
    line-height: 1.8;
}

.sign{
    width: 360px;
    height: 360px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.800);
    text-align: center;
    padding: 30px;
}
.sign h3{
    color: #fff;
    font-size: 25px;
    margin-bottom: 25px;
}
.sign form input{
    width: 100%;
    outline: none;
    padding: 12px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #379cf4;
    color: #fff;
    margin-bottom: 20px;
}
::placeholder{
    color: #fff;
}
.sign form button{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #379cf4;
    border: none;
    border-radius: 10px;
    padding: 12px 0;
    cursor: pointer;

}
.sign form .account{
    color: #fff;
    margin: 40px 0 10px;
}
.sign form .sign-up{
    color: #fff;
}
.signn form .sign-up a{
    color: #379cf4;
}
.sign form .sign-up a:hover{
    text-decoration: underline;
}


